@import 'mediawiki.skin.variables.less';
@import 'mediawiki.mixins.less';

li#pt-themes {
    position: relative;

    .ext-themetoggle-simple-icon {
        display: block;
        padding: 0.4rem;
        font-size: 0;
        transition: all .3s;

        &::before {
            content: '';
        }
    }

    &:hover .ext-themetoggle-simple-icon {
        cursor: pointer;
        border-radius: 0.5rem;
        background-color: rgba( 255, 255, 255, 0.2 );
    }
}

// Icons
.ext-themetoggle-simple-icon::before {
    // Fallback
    .cdx-mixin-css-icon( @cdx-icon-palette, @param-size-icon: @size-icon-medium );

    .theme-auto & {
        .cdx-mixin-css-icon-background-image( @cdx-icon-half-bright );
    }
    
    // WIKIDEV-543: It really sucks that we have to support uppercase names here for backwards compatibility

    .theme-light &,
    .theme-Light & {
        .cdx-mixin-css-icon-background-image( @cdx-icon-bright );
    }
    
    .theme-dark &,
    // It really sucks that we have to support uppercase names here
    .theme-Dark & {
        .cdx-mixin-css-icon-background-image( @cdx-icon-moon );
    }
}